nav#navbar
  .container
    #logo
      //a.navbar-brand(href=""+ directory+ "")
      img.logo(src=""+ directory+ "../../assets/images/logo-ipb.png", alt="logo")
    #menu
      p.menu
        a(href=""+ directory+ "index.html") Sobre Nós
        a(href=""+ directory+ "estudar.html") Estudar
        a(href=""+ directory+ "investigar.html") Investigar 
        a(href=""+ directory+ "viver.html") Viver 
        a(href=""+ directory+ "internacional.html") Internacional
