include ../atoms/cta

section
    .container
      div.sub_menu
        p
          a(href=""+ directory+ "#") Porquê Mirandela
          a(href=""+ directory+ "#") Estudar
          a(href=""+ directory+ "#") Viver  
          a(href=""+ directory+ "#") Cooperação Internacional
      
      h1 INTERNACIONAL
      
      .inf .......