include ../atoms/cta

section#estudar
    .container
      div.sub_menu
        p
          a(href=""+ directory+ "#") O quê
          a(href=""+ directory+ "#") Projetos
          a(href=""+ directory+ "#") Apoios
          a(href=""+ directory+ "#") Iniciativas

      h1 INVESTIGAR

      .inf Disponibiliza-se nesta secção Informação sobre as atividades de Investigação e Inovação (I&I) desenvolvidas no Instituto Politécnico de Bragança, nomeadamente: Unidades de I&I, Projetos, Publicações, Repositório Científico e divulgação de oportunidades de Emprego Científico.